html, body { height: 100%; }
body {
  margin: 0;
}

.site {
  height: 100%;
}

#home, #disqus_thread {
  width: 700px;
  margin: 0 auto;
}

#menu {
  list-style-type: none;
}

#menu li {
  float: left;
}

#menu a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  padding: 10px;
}

.posts {
  list-style-type: none;
}

.posts a {
  color: black;
  text-decoration: none;
}

.posts h2 {
  margin-bottom: 2px
}

.posts time {
  font-family: Georgia;
  font-style: italic;
}

.cover {
  height: 100%;
  margin-top: 0;
  position: relative;
}

.topbar {
  width: 100%;
  height: 5px;
  background-color: black;
}

.cover-layout {
  width: 100%;
  height: 100%;
  background-position: center;
  background-color: black;
  opacity: 0.5;
  position: absolute;
}

.cover-title {
  height: 30%;
  position: absolute;
  margin-left: 8%;
  bottom: 0;
  z-index: 1;
}

h2 {
  font-family: "Lucida Grande";
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.04em;
  line-height: 1.1;
}

.cover-title h2 {
  color: white;
  font-size: 50px;
}

.cover-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.post {
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: Georgia;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
  color: #5c5c5c
}

.content {
  width: 700px;
  margin: 0 auto;
}

blockquote {
  font-style: italic;
}

footer {
  height: 100px
}
