<div class="topbar"></div>

<header>
  <ul id="menu">
    <li> <a href="http://blog.elcuervo.net"> <i class="fa fa-pencil"></i> </a> </li>
    <li> <a href="http://travels.elcuervo.net"> <i class="fa fa-globe"></i> </a> </li>
    </li>
  </ul>
</header>

<section id="home">
  <ul class="posts">
    {% for post in site.posts %}
    {% unless post.hidden %}
    <li>
      <a href="{{ post.url }}">
        <h2> {{ post.title }} </h2>
        <h3> {{ post.subtitle }} </h3>
      </a>
    </li>
    {% endunless %}
    {% endfor %}
  </ul>
</section>
